<div class="container bg-danger-subtle ">
    <div class="row">
  
     @for ( mealechicken of  mealeschicken ;track $index) {
        <div class="col-lg-4">
            <div class="border">
                <img [src]="mealechicken.image_url" class="w-75" alt="">
                <h2>{{mealechicken.title.split(" ", 2).join(" ")}}</h2>
                <span><strong>publisher </strong>{{mealechicken.publisher}}</span>
                <h3 class="h6"><strong>URL</strong> {{mealechicken.publisher_url}} </h3>
                <h4 class="h6">ID {{mealechicken.recipe_id}} </h4>

            </div>
            </div>
     }
        
    </div>
</div>